In [1]:
# Importing necessary files and libraries
import pandas as pd
pd.options.display.max_columns = None
import numpy as np

raw_dataset = pd.read_csv("loan_interest_rates.csv", low_memory = False)
raw_dataset.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,X25,X26,X27
0,11.89%,54734.0,80364.0,"$25,000.00","$25,000.00","$19,080.00",36 months,B,B4,NaN,< 1 year,RENT,85000.0,VERIFIED - income,8/9/2019,Due to a lack of personal finance education an...,debt_consolidation,Debt consolidation for on-time payer,CA,19.48,0.0,2/1/1994,NaN,NaN,0.0,42.0,f
1,10.71%,55742.0,114426.0,"$7,000.00","$7,000.00",$673.00,36 months,B,B5,CNN,< 1 year,RENT,65000.0,not verified,5/8/2019,Just want to pay off the last bit of credit ca...,credit_card,Credit Card payoff,NY,14.29,0.0,10/1/2000,NaN,NaN,0.0,7.0,f
2,16.99%,57167.0,137225.0,"$25,000.00","$25,000.00","$24,725.00",36 months,D,D3,Web Programmer,1 year,RENT,70000.0,VERIFIED - income,8/14/2019,Trying to pay a friend back for apartment brok...,debt_consolidation,mlue,NY,10.50,0.0,6/1/2000,41.0,NaN,0.0,17.0,f
3,13.11%,57245.0,138150.0,"$1,200.00","$1,200.00","$1,200.00",36 months,C,C2,city of beaumont texas,10+ years,OWN,54000.0,not verified,3/10/2019,"If funded, I would use this loan consolidate t...",debt_consolidation,zxcvb,TX,5.47,0.0,1/1/1985,64.0,NaN,0.0,31.0,f
4,13.57%,57416.0,139635.0,"$10,800.00","$10,800.00","$10,692.00",36 months,C,C3,State Farm Insurance,6 years,RENT,32000.0,not verified,11/9/2019,I currently have a personal loan with Citifina...,debt_consolidation,Nicolechr1978,CT,11.63,0.0,12/1/1996,58.0,NaN,0.0,40.0,f

In [2]:
#Rough overview of the dataset
raw_dataset.describe()

,X2,X3,X13,X20,X21,X23,X24,X25,X26
count,3.999990e+05,3.999990e+05,3.389720e+05,399999.000000,399999.000000,181198.000000,51155.000000,399999.000000,399999.000000
mean,9.984493e+06,1.133899e+07,7.316015e+04,17.000786,0.274528,34.312117,76.320399,0.152285,24.983010
std,7.928778e+06,8.663918e+06,5.586770e+04,7.704189,0.778209,21.787313,29.804509,0.497389,11.473478
min,5.473400e+04,7.069900e+04,3.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
25%,3.151742e+06,3.727712e+06,4.500000e+04,11.250000,0.000000,16.000000,54.000000,0.000000,17.000000
50%,8.234778e+06,9.667699e+06,6.300000e+04,16.700000,0.000000,31.000000,80.000000,0.000000,23.000000
75%,1.532960e+07,1.731219e+07,8.820000e+04,22.520000,0.000000,50.000000,103.000000,0.000000,32.000000
max,2.875315e+07,3.127805e+07,7.500000e+06,39.990000,29.000000,188.000000,129.000000,63.000000,121.000000

In [3]:
#Checking the data types
raw_dataset.dtypes

X1      object
X2     float64
X3     float64
X4      object
X5      object
X6      object
X7      object
X8      object
X9      object
X10     object
X11     object
X12     object
X13    float64
X14     object
X15     object
X16     object
X17     object
X18     object
X19     object
X20    float64
X21    float64
X22     object
X23    float64
X24    float64
X25    float64
X26    float64
X27     object
dtype: object

In [4]:
# Initial cleaning, to keep the important columns for regression analysis
raw_dataset["X8"] = raw_dataset["X8"].replace(np.nan, "NULL")
raw_dataset["X9"] = raw_dataset["X9"].replace(np.nan, "NULL")
raw_dataset["X10"] = raw_dataset["X10"].replace(np.nan, "NULL")
raw_dataset["X12"] = raw_dataset["X12"].replace(np.nan, "NULL")
raw_dataset["X13"] = raw_dataset["X13"].replace(np.nan, "NULL")
raw_dataset["X16"] = raw_dataset["X16"].replace(np.nan, "NULL")
raw_dataset["X18"] = raw_dataset["X18"].replace(np.nan, "NULL")
raw_dataset["X23"] = raw_dataset["X23"].replace(np.nan, 0)
raw_dataset["X24"] = raw_dataset["X24"].replace(np.nan, 0) 
raw_dataset.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,X25,X26,X27
0,11.89%,54734.0,80364.0,"$25,000.00","$25,000.00","$19,080.00",36 months,B,B4,NULL,< 1 year,RENT,85000,VERIFIED - income,8/9/2019,Due to a lack of personal finance education an...,debt_consolidation,Debt consolidation for on-time payer,CA,19.48,0.0,2/1/1994,0.0,0.0,0.0,42.0,f
1,10.71%,55742.0,114426.0,"$7,000.00","$7,000.00",$673.00,36 months,B,B5,CNN,< 1 year,RENT,65000,not verified,5/8/2019,Just want to pay off the last bit of credit ca...,credit_card,Credit Card payoff,NY,14.29,0.0,10/1/2000,0.0,0.0,0.0,7.0,f
2,16.99%,57167.0,137225.0,"$25,000.00","$25,000.00","$24,725.00",36 months,D,D3,Web Programmer,1 year,RENT,70000,VERIFIED - income,8/14/2019,Trying to pay a friend back for apartment brok...,debt_consolidation,mlue,NY,10.50,0.0,6/1/2000,41.0,0.0,0.0,17.0,f
3,13.11%,57245.0,138150.0,"$1,200.00","$1,200.00","$1,200.00",36 months,C,C2,city of beaumont texas,10+ years,OWN,54000,not verified,3/10/2019,"If funded, I would use this loan consolidate t...",debt_consolidation,zxcvb,TX,5.47,0.0,1/1/1985,64.0,0.0,0.0,31.0,f
4,13.57%,57416.0,139635.0,"$10,800.00","$10,800.00","$10,692.00",36 months,C,C3,State Farm Insurance,6 years,RENT,32000,not verified,11/9/2019,I currently have a personal loan with Citifina...,debt_consolidation,Nicolechr1978,CT,11.63,0.0,12/1/1996,58.0,0.0,0.0,40.0,f

In [5]:
# Dropping some incomplete columns for data analysis and regession
cleaner_dataset = raw_dataset.dropna()
cleaner_dataset.shape

(324195, 27)

In [6]:
#checking unique values. Will need to convert some non-numerical columns to numerical for regression
print("Column X7", cleaner_dataset["X7"].unique(), "--> Length -->", len(cleaner_dataset["X7"].unique()))
print("Column X8", cleaner_dataset["X8"].unique(), "--> Length -->", len(cleaner_dataset["X8"].unique()))
print("Column X9", cleaner_dataset["X9"].unique(), "--> Length -->", len(cleaner_dataset["X9"].unique()))
print("Column X19", cleaner_dataset["X19"].unique(), "--> Length -->", len(cleaner_dataset["X19"].unique()))

Column X7 [' 36 months' ' 60 months'] --> Length --> 2
Column X8 ['B' 'D' 'C' 'A' 'E' 'F' 'NULL' 'G'] --> Length --> 8
Column X9 ['B4' 'B5' 'D3' 'C2' 'C3' 'D4' 'B3' 'C5' 'A5' 'D2' 'B1' 'C4' 'A4' 'A3'
 'C1' 'E4' 'B2' 'A2' 'E2' 'E1' 'D1' 'F1' 'F2' 'A1' 'F3' 'E5' 'D5' 'NULL'
 'E3' 'F4' 'G5' 'F5' 'G1' 'G4' 'G3' 'G2'] --> Length --> 36
Column X19 ['CA' 'NY' 'TX' 'CT' 'RI' 'MD' 'MA' 'MI' 'KY' 'MS' 'KS' 'GA' 'NC' 'WA'
 'OH' 'AZ' 'IL' 'CO' 'WI' 'FL' 'IN' 'VA' 'ME' 'NJ' 'NE' 'NM' 'MO' 'UT'
 'LA' 'SC' 'AL' 'TN' 'NH' 'SD' 'DE' 'WY' 'OR' 'MN' 'DC' 'NV' 'IA' 'PA'
 'AR' 'VT' 'OK' 'ID' 'AK' 'MT' 'HI' 'WV'] --> Length --> 50

In [7]:
# Replacing non-numerical values to numberical values
payment_dict = {" 36 months": 36, " 60 months": 60}
grade_dict = {"NULL":0, "A":1, "B":2, "C":3, "D":4, "E":5, "F":6, "G":7}
subgrade_dict = {"NULL":0, "A1":11, "A2":12, "A3":13, "A4":14, "A5":15, "B1":21, "B2":22, "B3":23, "B4":24, "B5":25,
                "C1":31, "C2":32, "C3":33, "C4":34, "C5":35, "D1":41, "D2":42, "D3":43, "D4":44, "D5":45, "E1":51, "E2":52,
                "E3":53, "E4":54, "E5":55, "F1":61, "F2":62, "F3":63, "F4":64, "F5":65, "G1":71, "G2":72, "G3":73, "G4":74,
                "G5":75}
state_dict = {'CA':1,'NY':2,'TX':3,'CT':4,'RI':5,'MD':6,'MA':7,'MI':8,'KY':9,'MS':10,'KS':11,'GA':12,'NC':13,'WA':14,
              'OH':15,'AZ':16,'IL':17,'CO':18,'WI':19,'FL':20,'IN':21,'VA':22,'ME':23,'NJ':24,'NE':25,'NM':26,'MO':27,
              'UT':28,'LA':29,'SC':30,'AL':31,'TN':32,'NH':33,'SD':34,'DE':35,'WY':36,'OR':37,'MN':38,'DC':39,'NV':40,
              'IA':41,'PA':42,'AR':43,'VT':44,'OK':45,'ID':46,'AK':47,'MT':48,'HI':49,'WV':50}
cleaner_dataset = cleaner_dataset.replace({"X7": payment_dict})
cleaner_dataset = cleaner_dataset.replace({"X8": grade_dict})
cleaner_dataset = cleaner_dataset.replace({"X9": subgrade_dict})
cleaner_dataset = cleaner_dataset.replace({"X19": state_dict})
cleaner_dataset.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,X25,X26,X27
0,11.89%,54734.0,80364.0,"$25,000.00","$25,000.00","$19,080.00",36,2,24,NULL,< 1 year,RENT,85000,VERIFIED - income,8/9/2019,Due to a lack of personal finance education an...,debt_consolidation,Debt consolidation for on-time payer,1,19.48,0.0,2/1/1994,0.0,0.0,0.0,42.0,f
1,10.71%,55742.0,114426.0,"$7,000.00","$7,000.00",$673.00,36,2,25,CNN,< 1 year,RENT,65000,not verified,5/8/2019,Just want to pay off the last bit of credit ca...,credit_card,Credit Card payoff,2,14.29,0.0,10/1/2000,0.0,0.0,0.0,7.0,f
2,16.99%,57167.0,137225.0,"$25,000.00","$25,000.00","$24,725.00",36,4,43,Web Programmer,1 year,RENT,70000,VERIFIED - income,8/14/2019,Trying to pay a friend back for apartment brok...,debt_consolidation,mlue,2,10.50,0.0,6/1/2000,41.0,0.0,0.0,17.0,f
3,13.11%,57245.0,138150.0,"$1,200.00","$1,200.00","$1,200.00",36,3,32,city of beaumont texas,10+ years,OWN,54000,not verified,3/10/2019,"If funded, I would use this loan consolidate t...",debt_consolidation,zxcvb,3,5.47,0.0,1/1/1985,64.0,0.0,0.0,31.0,f
4,13.57%,57416.0,139635.0,"$10,800.00","$10,800.00","$10,692.00",36,3,33,State Farm Insurance,6 years,RENT,32000,not verified,11/9/2019,I currently have a personal loan with Citifina...,debt_consolidation,Nicolechr1978,4,11.63,0.0,12/1/1996,58.0,0.0,0.0,40.0,f

In [8]:
# Another set of categorical values
print(cleaner_dataset["X11"].unique())
print(cleaner_dataset["X12"].unique())
print(cleaner_dataset["X14"].unique())

['< 1 year' '1 year' '10+ years' '6 years' '9 years' '3 years' '5 years'
 '2 years' '4 years' '8 years' '7 years']
['RENT' 'OWN' 'MORTGAGE' 'NONE' 'NULL' 'OTHER' 'ANY']
['VERIFIED - income' 'not verified' 'VERIFIED - income source']

In [9]:
# Another set of conversion
employ_dict = {'< 1 year':0, '1 year':1, '10+ years':10, '6 years':6, '9 years':9, '3 years':3, '5 years':5, '2 years':2,
               '4 years':4, '8 years':8, '7 years':7}
home_type_dict = {'RENT':2, 'OWN':1, 'MORTGAGE':3, 'NONE':0, 'NULL':0, 'OTHER':4, 'ANY':5}
income_dict = {'VERIFIED - income':1, 'not verified':2, 'VERIFIED - income source':3}
cleaner_dataset = cleaner_dataset.replace({"X11": employ_dict})
cleaner_dataset = cleaner_dataset.replace({"X12": home_type_dict})
cleaner_dataset = cleaner_dataset.replace({"X14": income_dict})
cleaner_dataset.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,X25,X26,X27
0,11.89%,54734.0,80364.0,"$25,000.00","$25,000.00","$19,080.00",36,2,24,NULL,0,2,85000,1,8/9/2019,Due to a lack of personal finance education an...,debt_consolidation,Debt consolidation for on-time payer,1,19.48,0.0,2/1/1994,0.0,0.0,0.0,42.0,f
1,10.71%,55742.0,114426.0,"$7,000.00","$7,000.00",$673.00,36,2,25,CNN,0,2,65000,2,5/8/2019,Just want to pay off the last bit of credit ca...,credit_card,Credit Card payoff,2,14.29,0.0,10/1/2000,0.0,0.0,0.0,7.0,f
2,16.99%,57167.0,137225.0,"$25,000.00","$25,000.00","$24,725.00",36,4,43,Web Programmer,1,2,70000,1,8/14/2019,Trying to pay a friend back for apartment brok...,debt_consolidation,mlue,2,10.50,0.0,6/1/2000,41.0,0.0,0.0,17.0,f
3,13.11%,57245.0,138150.0,"$1,200.00","$1,200.00","$1,200.00",36,3,32,city of beaumont texas,10,1,54000,2,3/10/2019,"If funded, I would use this loan consolidate t...",debt_consolidation,zxcvb,3,5.47,0.0,1/1/1985,64.0,0.0,0.0,31.0,f
4,13.57%,57416.0,139635.0,"$10,800.00","$10,800.00","$10,692.00",36,3,33,State Farm Insurance,6,2,32000,2,11/9/2019,I currently have a personal loan with Citifina...,debt_consolidation,Nicolechr1978,4,11.63,0.0,12/1/1996,58.0,0.0,0.0,40.0,f

In [10]:
print(cleaner_dataset["X17"].unique(), len(cleaner_dataset["X17"].unique()))
print(cleaner_dataset["X27"].unique())

['debt_consolidation' 'credit_card' 'car' 'home_improvement'
 'small_business' 'major_purchase' 'other' 'house' 'vacation'
 'educational' 'moving' 'wedding' 'medical' 'renewable_energy'] 14
['f' 'w']

In [11]:
title_dict = {'debt_consolidation':1, 'credit_card':2, 'car':3, 'home_improvement':4, 'small_business':5,
              'major_purchase':6, 'other':7, 'house':8, 'vacation':9, 'educational':10, 'moving':11, 'wedding':12,
              'medical':13, 'renewable_energy':14}
initial_status_dict = {"f":1, "w":2}
cleaner_dataset = cleaner_dataset.replace({"X17": title_dict})
cleaner_dataset = cleaner_dataset.replace({"X27": initial_status_dict})
cleaner_dataset.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,X25,X26,X27
0,11.89%,54734.0,80364.0,"$25,000.00","$25,000.00","$19,080.00",36,2,24,NULL,0,2,85000,1,8/9/2019,Due to a lack of personal finance education an...,1,Debt consolidation for on-time payer,1,19.48,0.0,2/1/1994,0.0,0.0,0.0,42.0,1
1,10.71%,55742.0,114426.0,"$7,000.00","$7,000.00",$673.00,36,2,25,CNN,0,2,65000,2,5/8/2019,Just want to pay off the last bit of credit ca...,2,Credit Card payoff,2,14.29,0.0,10/1/2000,0.0,0.0,0.0,7.0,1
2,16.99%,57167.0,137225.0,"$25,000.00","$25,000.00","$24,725.00",36,4,43,Web Programmer,1,2,70000,1,8/14/2019,Trying to pay a friend back for apartment brok...,1,mlue,2,10.50,0.0,6/1/2000,41.0,0.0,0.0,17.0,1
3,13.11%,57245.0,138150.0,"$1,200.00","$1,200.00","$1,200.00",36,3,32,city of beaumont texas,10,1,54000,2,3/10/2019,"If funded, I would use this loan consolidate t...",1,zxcvb,3,5.47,0.0,1/1/1985,64.0,0.0,0.0,31.0,1
4,13.57%,57416.0,139635.0,"$10,800.00","$10,800.00","$10,692.00",36,3,33,State Farm Insurance,6,2,32000,2,11/9/2019,I currently have a personal loan with Citifina...,1,Nicolechr1978,4,11.63,0.0,12/1/1996,58.0,0.0,0.0,40.0,1

In [33]:
# Setting up columns for regression
features = list(cleaner_dataset.columns.values)
features.remove("X1")
X = cleaner_dataset[features]
y = cleaner_dataset.X1